body {
    background-color: #40444b;
}

button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    border-color: transparent;

}

.dropdown {
    /* CSS styles for the dropdown menu */
    position: relative;
    width: 100%;
    height: 6vh;
    top: 0%;
    left: 0;
    border: 1px solid transparent;
    background-color: #202225;
    color: white;
    text-align: center;
    border-bottom-color: rgb(94, 90, 90);

}

.options {
    position: absolute;
    top: 0%;
    left: 0%;
    /* Position the rectangle below the dropdown */
    width: 20%;
    /* Set the width to 50% of the viewport width */
    height: 100%;
    /* Set the height to 30% of the viewport height */
    background-color: #202225;
}

.menu_button {
    position: relative;
    align-items: center;
    background-color: #202225;
    width: 100%;
    height: 6vh;
    border: 1px solid transparent;
    color: white;
    text-align: center;
}



.graph_back {
    position: absolute;
    top: 8%;
    right: 1%;
    width: 61%;
    height: 90%;
    background-color: #202225;
    border-radius: 25px;
}

.data {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 57%;
    height: 45%;
    background-color: #292b2f;
    border-radius: 25px;
}

.graph {
    position: absolute;
    top: 57%;
    right: 3%;
    width: 57%;
    height: 39%;
    background-color: #292b2f;
    border-radius: 25px;
}

.title {
    position: absolute;
    width: 80vw;
    height: 6vh;
    /* border: 1px solid transparent; */
    background-color: #292b2f;
    top: 0%;
    color: white;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.text {
    font-size: 20px;
    text-align: center;
}

.graph_chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    animation-name: fadeDrawing;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* text-color:#FFFFFF; */
    /* background-color: transparent; */
}

.size_selection {
    position: absolute;
    top: 90%;
    left: 75%;
    border-radius: 5px;
    background-color: #5865F2;
    color: #FFFFFF;
    border-color: "transparent";
}

.Run {
    position: absolute;
    align-items: center;
    background-color: #202225;
    width: 100%;
    height: 6vh;
    top: 93%;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-text {
    text-align: center;
}

.Run:hover {
    background-color: #5865F2;
}


.content {
    position: absolute;
    width: 80%;
    height: 94%;
    left: 20%;
    top: 6%;
    background-color: #40444b;
}

@keyframes fadeDrawing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.rectangle {
    position: absolute;
    animation-name: fadeDrawing;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #868383;
    z-index: 0;
    border: 1px solid;
    border-color: #202225;
    border-radius: 2px;
    /* border-width: 2px; */
    /* transition: border .2s; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.rectangle:hover {
    z-index: 1;
    background-color: #5865F2;
    /* box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.5); */
    border: 2px solid;
    /* background-color: #f2c459; */
}
.corner_text {
    position: absolute;
    color: black;
    left: 80%;
    top: 70%;

}
.Legend {
    position: absolute;
    width: 30%;
    max-width: 200px;
    min-width: 30px;
    max-height: 200px;
    min-height: 30px;
    height: 40%;
    left: 22.5%;
    top: 60%;
    /* opacity: .3; */
    border-radius: 3%;
    background-color: rgba(161, 161, 161, 0.5);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: box-shadow 0.3s;
    /* Add transition for smooth effect */
}

.Legend:hover {
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.5);
    /* Shadow style on hover */
}

.Legend_Wrapper {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 2.5%;
    width: 100%;
    height: 40%;
    font-size: 100%;
    font-size: bold;
    color: rgb(0, 0, 0);

}

.legend-rect {
    position: relative;
    border: 1px solid black;
    margin: 5%;
    /* padding:5%; */
    border-radius: 5%;
    width: 20%;
    height: 100%;
}

.GraphLocation{
    position: absolute;
    /* background-color: rgb(185, 172, 172); */
    width:40%;
    height: 50%;
    top: 50%;
    left: 60%;
    
}

.ExpButton{
    position: absolute;
    align-items: center;
    background-color: #202225;
    width: 100%;
    height: 6vh;
    top: 87%;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.ExpButton:hover {
    background-color: #5865F2;
}
.expWindow{
    position: absolute;
    display: none;
    animation-name: fadeDrawing;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 40%;
    height: 50%;
    left: 40%;
    top: 30%;
    background-color: rgb(214, 211, 211);
    z-index: 2;
    border-radius: 8px;
    opacity: 70%;
}
.closeButton{
    position: absolute;
    top: 0px;
    right: 0px;
    width:35px;
    height: 25px;
    background-color: rgb(117, 117, 117);
    border-radius: 0 8px 0 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.closeButton:hover{
    background-color: #5865F2;
}

.line {
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    /* left: 0; */
    transform-origin: center;
  }
  
  .line1 {
    transform: rotate(45deg);
  }
  
  .line2 {
    transform: rotate(-45deg);
  }

  .TextZone{
    position: absolute;
    /* padding:  */
    
    left: 0px;
    width: 100%;
    /* height: 100%; */
    top: 25px;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    /* background-color: rgb(255, 255, 255); */
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .SlideImg{
    position: absolute;
  }
.Slide{
position: relative;
width: 100%;
height: 100%;
}

.slideText{
    position: absolute; /* Set the position of the child div to absolute */
    bottom: 0; /* Position the child div at the bottom of the parent div */
    width: 100%; /* Set the width of the child div to fill the parent */
    height: 70%;
    /* background-color: red; */
}
.polynomial{
    position:absolute;
    width: 50%;
    height: 30px;
    top:50%;
    /* background-color: red; */
}